@using Abp.Application.Services.Dto
@using LesoftWuye2.Application.Notices.Dto

@model LesoftWuye2.Application.Weixin.Dto.HomeDataDto
@{
    Layout = "~/Views/WeixinPage/Weixin/__Layout/Layout.cshtml";
    ViewBag.Title = "商户服务";
    ViewBag.HideBack = true;
    bool isLogin = (bool)ViewData["isLogin"];
    bool isBindRoom = (bool)ViewData["isBindRoom"];
    List<NoticeListDto> notices = (ViewData["notices"] as List<NoticeListDto>) ?? new List<NoticeListDto>();


}

@section scripts
{
    <script>

        var isLogin = @(isLogin?"true":"false");
        var isBindRoom =@(isBindRoom ? "true":"false");

        (function() {
            $(function() {

                $('#repair').click(function() {
                    if (!isLogin) {
                        window.location.href = '/weixin/register';
                        return;
                    }
                    if(isBindRoom)
                        window.location.href = '/weixin/service/repair';
                    else {
                        app.message.confirm("该功能需要绑定房间才能使用，马上绑定?" + name, "绑定商铺?", function (isConfirmed) {
                            if (isConfirmed) {
                                window.location.href = '/weixin/room/add';
                            }
                        });
                    }
                });

                $('#feedback').click(function() {
                    if (!isLogin) {
                        window.location.href = '/weixin/register';
                        return;
                    }
                    if(isBindRoom)
                        window.location.href = '/weixin/service/feedback';
                    else {
                        app.message.confirm("该功能需要绑定房间才能使用，马上绑定?" + name, "绑定商铺?", function (isConfirmed) {
                            if (isConfirmed) {
                                window.location.href = '/weixin/room/add';
                            }
                        });
                    }
                });


                $('#contact').click(function() {
                    if (!isLogin) {
                        window.location.href = '/weixin/register';
                        return;
                    }
                    if(isBindRoom)
                        window.location.href = '/weixin/service/contact';
                    else {
                        app.message.confirm("该功能需要绑定房间才能使用，马上绑定?" + name, "绑定商铺?", function (isConfirmed) {
                            if (isConfirmed) {
                                window.location.href = '/weixin/room/add';
                            }
                        });
                    }
                });


                $('#fee').click(function() {
                    if (!isLogin)
                        window.location.href = '/weixin/register';
                    window.location.href = '/weixin/shopping-center-001/bill';
                });

                $('#bill2').click(function() {
                    if (!isLogin)
                        window.location.href = '/weixin/register';
                    window.location.href = '/weixin/shopping-center-001/bill2';
                });

                $('#duizhang').click(function() {
                    //app.message.info('筹备中，敬请期待!');
                    if (!isLogin)
                        window.location.href = '/weixin/register';
                    window.location.href = '/weixin/shopping-center-001/check';
                });

            });
        })();

    </script>
}


<header data-am-widget="header" class="am-header am-btn-default" style="z-index: 999;opacity:0.8;">
    <h5 class="am-header-title" style="font-size: 12px;margin: 0 10%;">
        <a href="/weixin/room/list" class="">
            <i class="am-header-icon am-icon-map-marker"></i>&nbsp;<span id="current_room" style="color: black">@(Model.DefaultRoom)</span>
        </a>
    </h5>
</header>


<div data-am-widget="slider" class="am-slider am-slider-a1" data-am-slider='{"directionNav":false}' style="margin-top: -50px; z-index: 1">
    <ul class="am-slides">
        @{
            foreach (var image in Model.SlideImages)
            {
                <li>
                    <img src="@(image)?width=640&height=300&mode=crop">
                </li>
            }
        }
    </ul>
</div>


<ul class="am-avg-sm-3 am-avg-md-3" style="margin-bottom: 0px">
    <li>
        <a href="javascript:void(0)" id="repair">
            <div style="background-color: #FFCD5C; width: 100%; height: 60px; color: white; padding: 5px ">
                <p style="font-size: 15px; margin-bottom: 5px">报事报修</p>
                @*<p style="font-size: 12px; margin-top: 0px">报修实时</p>*@
            </div>
        </a>
        <a href="javascript:void(0)" id="bill2">
            <div style="background-color: green; width: 100%; height: 60px; color: white; padding: 5px;">
                <p style="font-size: 15px; margin-bottom: 5px">销售上报</p>
                @*<p style="font-size: 12px; margin-top: 0px">日常对账</p>*@
            </div>
        </a>
    </li>
    <li>
        <a href="javascript:void(0)" id="feedback">
            <div style="background-color: #F082BF; width: 100%; height: 60px; color: white; padding: 5px;">
                <p style="font-size: 15px; margin-bottom: 5px">投诉建议</p>
                @*<p style="font-size: 12px; margin-top: 0px">在线投诉</p>*@
            </div>
        </a>
        <a href="javascript:void(0)" id="duizhang">
            <div style="background-color: #C1A9FE; width: 100%; height: 60px; color: white; padding: 5px;">
                <p style="font-size: 15px; margin-bottom: 5px">日常对账</p>
                @*<p style="font-size: 12px; margin-top: 0px">日常对账</p>*@
            </div>
        </a>
    </li>
    <li>
        <a href="javascript:void(0)" id="fee">
            <div style="background-color: #5ECDE1; width: 100%; height: 60px; color: white; padding: 5px;">
                <p style="font-size: 15px; margin-bottom: 5px">账单查询</p>
                @*<p style="font-size: 12px; margin-top: 0px">足不出户轻松支付</p>*@
            </div>
        </a>
        <a href="javascript:void(0)" id="contact">
            <div style="background-color: #44A6E3; width: 100%; height: 60px; color: white; padding: 5px;">
                <p style="font-size: 15px; margin-bottom: 5px">联系运营助理</p>
                @*<p style="font-size: 12px; margin-top: 0px">一键直呼管家</p>*@
            </div>
        </a>
    </li>


</ul>

@{
    if (Model.Notice != null)
    {
        <div data-am-widget="list_news" class="am-list-news am-list-news-default  home-news-list">
            <!--列表标题-->
            <div class="am-list-news-hd am-cf">
                <!--带更多链接-->
                <a href="/weixin/notice/list" class="">
                    <h2>公告通知</h2>
                    <span class="am-list-news-more am-fr">更多 &raquo;</span>
                </a>
            </div>
            <div class="am-list-news-bd">
                <ul class="am-list">
                    @{
                        foreach (var notice in notices)
                        {
                            <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
                                <a href="/weixin/notice/view?id=@(notice.Id)" class="">
                                    @{
                                        if (!string.IsNullOrEmpty(notice.Thumbnail))
                                        {
                                            <div class="am-u-sm-4 am-list-thumb">
                                                <img src="@(notice.Thumbnail)?width=160&height=100&mode=crop" />
                                            </div>
                                            <div class="am-u-sm-8 am-list-main">
                                                <h3 class="am-list-item-hd">@notice.Title</h3>
                                                <div class="am-list-item-text">发布日期:@notice.CreationTime.ToString("yyyy-MM-dd")</div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="am-u-sm-12 am-list-main">
                                                <h3 class="am-list-item-hd">@notice.Title</h3>
                                                <div class="am-list-item-text">发布日期:@notice.CreationTime.ToString("yyyy-MM-dd")</div>
                                            </div>
                                        }
                                    }

                                </a>

                            </li>
                                        }
                    }

                </ul>
            </div>
        </div>
                                        }
}
